# =========================================================
# DATASET - NEVER UPLOAD
# =========================================================

data/raw/
data/processed/

# =========================================================
# MATLAB TEMPORARY FILES
# =========================================================

*.asv
*.autosave
*.slxc

# =========================================================
# LARGE GENERATED RESULT FILES
# =========================================================

results/*.mat

# =========================================================
# OS / EDITOR FILES
# =========================================================

.DS_Store
Thumbs.db

# =========================================================
# MATLAB DRIVE / TEMP
# =========================================================

.mltx_cache/